<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skrining Perkembangan - 6 Bulan</title>

    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../assets/icons/icon-LM.png" />
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Open+Sans:wght@500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <!-- Style -->
    <link rel="stylesheet" href="../assets/css/style.css" />
    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-[#F9FBFD] overflow-x-hidden">
    <!-- Open Tag Header -->
    <header class="fixed-navbar w-full bg-[#0F3F25]">
      <div
        class="w-full max-w-[1280px] mx-auto px-3 md:px-6 lg:px-12 flex justify-between items-center py-3"
      >
        <div class="shrink-0">
          <img
            src="../assets/images/logo.png"
            alt="Baby Care Logo"
            class="w-40 md:w-44 lg:w-48"
          />
        </div>

        <!-- Desktop Navbar -->
        <nav class="hidden lg:block navbar navbar-expand-lg navbar-light">
          <ul class="flex items-center gap-x-12">
            <li>
              <a href="../dashboard.html" class="text-white custom-hover"
                >Beranda</a
              >
            </li>
            <li>
              <div class="nav-item dropdown">
                <a
                  href=""
                  class="nav-link dropdown-toggle text-white custom-hover"
                  data-toggle="dropdown"
                  >Fitur</a
                >
                <div class="dropdown-menu">
                  <a href="../perkembangan.html" class="dropdown-item"
                    >Skrining Perkembangan</a
                  >
                  <a href="../pertumbuhan.html" class="dropdown-item"
                    >Grafik Pertumbuhan</a
                  >
                  <a href="../imunisasi.html" class="dropdown-item"
                    >Imunisasi</a
                  >
                </div>
              </div>
            </li>
            <li>
              <a
                href="../catatan-perkembangan.html"
                class="text-white custom-hover"
                >Catatan Perkembangan</a
              >
            </li>
          </ul>
        </nav>

        <div class="hidden lg:block">
          <div class="flex items-center gap-x-3">
            <a href="../profil.html">
              <h1
                id="user_full_name"
                class="font-semibold text-white text-[16px]"
              >
                Jaezlyn
              </h1>
            </a>
            <a href="../profil.html">
              <div class="ml-2">
                <img
                  src="../assets/images/mommy.webp"
                  alt="User's Profile Picture"
                  class="w-[45px] h-[45px] rounded-full object-cover"
                />
              </div>
            </a>
          </div>
        </div>

        <!-- Mobile Navbar -->
        <div class="block lg:hidden" id="open_modal_btn">
          <svg
            class="fill-white text-[26px] cursor-pointer"
            xmlns="http://www.w3.org/2000/svg"
            height="1em"
            viewBox="0 0 448 512"
          >
            <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
              d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
            />
          </svg>
        </div>

        <!-- Mobile Modal -->
        <div
          class="mobile_modal translate-y-[100%] fixed top-0 left-0 w-full h-screen bg-[#272C49] px-4 flex justify-center items-center duration-500 ease-in-out z-[999]"
        >
          <div class="w-full">
            <nav>
              <ul class="flex flex-col justify-center items-center gap-y-6">
                <li>
                  <a
                    href="../dashboard.html"
                    class="text-xl text-white hover:text-[#FFCB40] duration-300 ease-in-out"
                    >Beranda</a
                  >
                </li>
                <li class="relative">
                  <a
                    href="#features"
                    class="text-xl text-white hover:text-[#FFCB40] duration-300 ease-in-out"
                    >Fitur</a
                  >
                  <ul class="absolute hidden dropdown">
                    <li><a href="#" class="dropdown-item">Pertumbuhan</a></li>
                    <li><a href="#" class="dropdown-item">Perkembangan</a></li>
                  </ul>
                </li>
                <li>
                  <a
                    href="articles.html"
                    class="text-xl text-white hover:text-[#FFCB40] duration-300 ease-in-out"
                    >Cek Kesehatan</a
                  >
                </li>
                <span class="w-[120px] border-t-2 border-[#FFCB40]"></span>
                <li>
                  <a
                    href="signup.html"
                    class="signup_link text-xl text-white hover:text-[#FFCB40] duration-300 ease-in-out"
                    >Get Started</a
                  >
                </li>
                <li>
                  <a
                    href="dashboard/index.html"
                    class="dashboard_link text-xl text-white hover:text-[#FFCB40] duration-300 ease-in-out"
                    >Dashboard</a
                  >
                </li>
              </ul>
            </nav>
          </div>
          <div class="absolute top-6 right-6" id="close_modal_btn">
            <svg
              class="fill-white text-[26px] cursor-pointer"
              xmlns="http://www.w3.org/2000/svg"
              height="1em"
              viewBox="0 0 384 512"
            >
              <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
              />
            </svg>
          </div>
        </div>
      </div>
    </header>
    <!-- Close Tag Header -->

    <!-- Open Tag Content -->
    <div class="pt-[88px] pb-12">
      <div
        class="flex flex-col xl:flex-row justify-between w-full h-auto px-[60px] select-none" 
      >
        <!-- begin::Skrining Perkembangan -->
        <div class="flex flex-col w-full h-auto py-2 xl:h-screen gap-y-4">
          <div class="w-full justify-center text-center mb-2 mt-8">
            <h1
              class="font-opensans text-[18px] min-[840px]:text-[20px] text-[#0F3F25] font-extrabold mb-1"
            >
              Skrining Perkembangan Bayi Usia 6 Bulan
            </h1>
          </div>

          <!-- Begin::List Pertanyaan -->
          <div
            class="bg-white px-12 pt-10 pb-3 rounded-xl shadow-lg w-full gap-y-4" id="questionnaire"
          >
            <!-- Pertanyaan 1 -->
            <div class="items-center pb-4">
              <div class="flex flex-row">
                <div
                  class="w-8 h-8 min-w-[2rem] min-h-[2rem] bg-[#0F3F25] text-white font-bold flex items-center justify-center rounded-full flex-shrink-0"
                >
                  1
                </div>
                <h2 class="text-base ml-3 md:text-lg">
                  Apakah bayi dapat mengikuti benda yang ada di atasnya dari satu sisi ke sisi lain dengan menggerakkan kepalanya?
                </h2>
              </div>
              <div class="flex space-x-4 mt-2 ml-[50px]">
                <label class="w-1/2">
                  <input
                    type="radio"
                    name="pertanyaan1"
                    value="tidak"
                    class="hidden peer"
                  />
                  <div
                    class="py-2 text-center rounded-2xl border-[1px] border-gray-400 cursor-pointer peer-checked:bg-[#0F3F25] peer-checked:border-none peer-checked:text-white"
                  >
                    Tidak
                  </div>
                </label>
                <label class="w-1/2">
                  <input
                    type="radio"
                    name="pertanyaan1"
                    value="ya"
                    class="hidden peer"
                  />
                  <div
                    class="py-2 text-center rounded-2xl border-[1px] border-gray-400 cursor-pointer peer-checked:bg-[#0F3F25] peer-checked:text-white"
                  >
                    Ya
                  </div>
                </label>
              </div>
            </div>

            <!-- Pertanyaan 2 -->
            <div class="items-center pb-4">
              <div class="flex flex-row">
                <div
                  class="w-8 h-8 min-w-[2rem] min-h-[2rem] bg-[#0F3F25] text-white font-bold flex items-center justify-center rounded-full flex-shrink-0"
                >
                  2
                </div>
                <h2 class="text-base ml-3 md:text-lg">
                  Saat ditarik ke posisi duduk dari telentang, apakah bayi bisa mempertahankan lehernya tetap kaku?
                </h2>
              </div>
              <div class="flex space-x-4 mt-2 ml-[50px]">
                <label class="w-1/2">
                  <input
                    type="radio"
                    name="pertanyaan2"
                    value="tidak"
                    class="hidden peer"
                  />
                  <div
                    class="py-2 text-center rounded-2xl border-[1px] border-gray-400 cursor-pointer peer-checked:bg-[#0F3F25] peer-checked:border-none peer-checked:text-white"
                  >
                    Tidak
                  </div>
                </label>
                <label class="w-1/2">
                  <input
                    type="radio"
                    name="pertanyaan2"
                    value="ya"
                    class="hidden peer"
                  />
                  <div
                    class="py-2 text-center rounded-2xl border-[1px] border-gray-400 cursor-pointer peer-checked:bg-[#0F3F25] peer-checked:text-white"
                  >
                    Ya
                  </div>
                </label>
              </div>
            </div>

            <!-- Pertanyaan 3 -->
            <div class="items-center pb-4">
              <div class="flex flex-row">
                <div
                  class="w-8 h-8 min-w-[2rem] min-h-[2rem] bg-[#0F3F25] text-white font-bold flex items-center justify-center rounded-full flex-shrink-0"
                >
                  3
                </div>
                <h2 class="text-base ml-3 md:text-lg">
                  Saat tengkurap, apakah bayi bisa mengangkat dadanya dengan lengan sebagai penyangga?
                </h2>
              </div>
              <div class="flex space-x-4 mt-2 ml-[50px]">
                <label class="w-1/2">
                  <input
                    type="radio"
                    name="pertanyaan3"
                    value="tidak"
                    class="hidden peer"
                  />
                  <div
                    class="py-2 text-center rounded-2xl border-[1px] border-gray-400 cursor-pointer peer-checked:bg-[#0F3F25] peer-checked:border-none peer-checked:text-white"
                  >
                    Tidak
                  </div>
                </label>
                <label class="w-1/2">
                  <input
                    type="radio"
                    name="pertanyaan3"
                    value="ya"
                    class="hidden peer"
                  />
                  <div
                    class="py-2 text-center rounded-2xl border-[1px] border-gray-400 cursor-pointer peer-checked:bg-[#0F3F25] peer-checked:text-white"
                  >
                    Ya
                  </div>
                </label>
              </div>
            </div>

            <!-- Pertanyaan 4 -->
            <div class="items-center pb-4">
              <div class="flex flex-row">
                <div
                  class="w-8 h-8 min-w-[2rem] min-h-[2rem] bg-[#0F3F25] text-white font-bold flex items-center justify-center rounded-full flex-shrink-0"
                >
                  4
                </div>
                <h2 class="text-base ml-3 md:text-lg">
                  Saat dipangku, apakah bayi bisa menjaga kepalanya tetap tegak dan stabil?
                </h2>
              </div>
              <div class="flex space-x-4 mt-2 ml-[50px]">
                <label class="w-1/2">
                  <input
                    type="radio"
                    name="pertanyaan4"
                    value="tidak"
                    class="hidden peer"
                  />
                  <div
                    class="py-2 text-center rounded-2xl border-[1px] border-gray-400 cursor-pointer peer-checked:bg-[#0F3F25] peer-checked:border-none peer-checked:text-white"
                  >
                    Tidak
                  </div>
                </label>
                <label class="w-1/2">
                  <input
                    type="radio"
                    name="pertanyaan4"
                    value="ya"
                    class="hidden peer"
                  />
                  <div
                    class="py-2 text-center rounded-2xl border-[1px] border-gray-400 cursor-pointer peer-checked:bg-[#0F3F25] peer-checked:text-white"
                  >
                    Ya
                  </div>
                </label>
              </div>
            </div>

            <!-- Pertanyaan 5 -->
            <div class="items-center pb-4">
              <div class="flex flex-row">
                <div
                  class="w-8 h-8 min-w-[2rem] min-h-[2rem] bg-[#0F3F25] text-white font-bold flex items-center justify-center rounded-full flex-shrink-0"
                >
                  5
                </div>
                <h2 class="text-base ml-3 md:text-lg">
                  Apakah bayi bisa menggenggam pensil selama beberapa detik saat disentuhkan ke tangannya? (ketika dipangku)
                </h2>
              </div>
              <div class="flex space-x-4 mt-2 ml-[50px]">
                <label class="w-1/2">
                  <input
                    type="radio"
                    name="pertanyaan5"
                    value="tidak"
                    class="hidden peer"
                  />
                  <div
                    class="py-2 text-center rounded-2xl border-[1px] border-gray-400 cursor-pointer peer-checked:bg-[#0F3F25] peer-checked:border-none peer-checked:text-white"
                  >
                    Tidak
                  </div>
                </label>
                <label class="w-1/2">
                  <input
                    type="radio"
                    name="pertanyaan5"
                    value="ya"
                    class="hidden peer"
                  />
                  <div
                    class="py-2 text-center rounded-2xl border-[1px] border-gray-400 cursor-pointer peer-checked:bg-[#0F3F25] peer-checked:text-white"
                  >
                    Ya
                  </div>
                </label>
              </div>
            </div>

            <!-- Pertanyaan 6 -->
            <div class="items-center pb-4">
              <div class="flex flex-row">
                <div
                  class="w-8 h-8 min-w-[2rem] min-h-[2rem] bg-[#0F3F25] text-white font-bold flex items-center justify-center rounded-full flex-shrink-0"
                >
                  6
                </div>
                <h2 class="text-base ml-3 md:text-lg">
                  Apakah bayi bisa mengarahkan matanya pada benda kecil seperti kacang atau kismis saat dipangku?
                </h2>
              </div>
              <div class="flex space-x-4 mt-2 ml-[50px]">
                <label class="w-1/2">
                  <input
                    type="radio"
                    name="pertanyaan6"
                    value="tidak"
                    class="hidden peer"
                  />
                  <div
                    class="py-2 text-center rounded-2xl border-[1px] border-gray-400 cursor-pointer peer-checked:bg-[#0F3F25] peer-checked:border-none peer-checked:text-white"
                  >
                    Tidak
                  </div>
                </label>
                <label class="w-1/2">
                  <input
                    type="radio"
                    name="pertanyaan6"
                    value="ya"
                    class="hidden peer"
                  />
                  <div
                    class="py-2 text-center rounded-2xl border-[1px] border-gray-400 cursor-pointer peer-checked:bg-[#0F3F25] peer-checked:text-white"
                  >
                    Ya
                  </div>
                </label>
              </div>
            </div>

            <!-- Pertanyaan 7 -->
            <div class="items-center pb-4">
              <div class="flex flex-row">
                <div
                  class="w-8 h-8 min-w-[2rem] min-h-[2rem] bg-[#0F3F25] text-white font-bold flex items-center justify-center rounded-full flex-shrink-0"
                >
                  7
                </div>
                <h2 class="text-base ml-3 md:text-lg">
                  Apakah bayi bisa meraih mainan yang diletakkan agak jauh tetapi masih berada pada jangkauan tangannya saat dipangku?
                </h2>
              </div>
              <div class="flex space-x-4 mt-2 ml-[50px]">
                <label class="w-1/2">
                  <input
                    type="radio"
                    name="pertanyaan7"
                    value="tidak"
                    class="hidden peer"
                  />
                  <div
                    class="py-2 text-center rounded-2xl border-[1px] border-gray-400 cursor-pointer peer-checked:bg-[#0F3F25] peer-checked:border-none peer-checked:text-white"
                  >
                    Tidak
                  </div>
                </label>
                <label class="w-1/2">
                  <input
                    type="radio"
                    name="pertanyaan7"
                    value="ya"
                    class="hidden peer"
                  />
                  <div
                    class="py-2 text-center rounded-2xl border-[1px] border-gray-400 cursor-pointer peer-checked:bg-[#0F3F25] peer-checked:text-white"
                  >
                    Ya
                  </div>
                </label>
              </div>
            </div>

            <!-- Pertanyaan 8 -->
            <div class="items-center pb-4">
              <div class="flex flex-row">
                <div
                  class="w-8 h-8 min-w-[2rem] min-h-[2rem] bg-[#0F3F25] text-white font-bold flex items-center justify-center rounded-full flex-shrink-0"
                >
                  8
                </div>
                <h2 class="text-base ml-3 md:text-lg">
                  Apakah bayi pernah berbalik dari telentang ke tengkurap atau sebaliknya setidaknya dua kali?
                </h2>
              </div>
              <div class="flex space-x-4 mt-2 ml-[50px]">
                <label class="w-1/2">
                  <input
                    type="radio"
                    name="pertanyaan8"
                    value="tidak"
                    class="hidden peer"
                  />
                  <div
                    class="py-2 text-center rounded-2xl border-[1px] border-gray-400 cursor-pointer peer-checked:bg-[#0F3F25] peer-checked:border-none peer-checked:text-white"
                  >
                    Tidak
                  </div>
                </label>
                <label class="w-1/2">
                  <input
                    type="radio"
                    name="pertanyaan8"
                    value="ya"
                    class="hidden peer"
                  />
                  <div
                    class="py-2 text-center rounded-2xl border-[1px] border-gray-400 cursor-pointer peer-checked:bg-[#0F3F25] peer-checked:text-white"
                  >
                    Ya
                  </div>
                </label>
              </div>
            </div>

            <!-- Pertanyaan 9 -->
            <div class="items-center pb-4">
              <div class="flex flex-row">
                <div
                  class="w-8 h-8 min-w-[2rem] min-h-[2rem] bg-[#0F3F25] text-white font-bold flex items-center justify-center rounded-full flex-shrink-0"
                >
                  9
                </div>
                <h2 class="text-base ml-3 md:text-lg">
                  Apakah bayi pernah mengeluarkan suara gembira bernada tinggi, bukan menangis?
                </h2>
              </div>
              <div class="flex space-x-4 mt-2 ml-[50px]">
                <label class="w-1/2">
                  <input
                    type="radio"
                    name="pertanyaan9"
                    value="tidak"
                    class="hidden peer"
                  />
                  <div
                    class="py-2 text-center rounded-2xl border-[1px] border-gray-400 cursor-pointer peer-checked:bg-[#0F3F25] peer-checked:border-none peer-checked:text-white"
                  >
                    Tidak
                  </div>
                </label>
                <label class="w-1/2">
                  <input
                    type="radio"
                    name="pertanyaan9"
                    value="ya"
                    class="hidden peer"
                  />
                  <div
                    class="py-2 text-center rounded-2xl border-[1px] border-gray-400 cursor-pointer peer-checked:bg-[#0F3F25] peer-checked:text-white"
                  >
                    Ya
                  </div>
                </label>
              </div>
            </div>

            <!-- Pertanyaan 10 -->
            <div class="items-center pb-4">
              <div class="flex flex-row">
                <div
                  class="w-8 h-8 min-w-[2rem] min-h-[2rem] bg-[#0F3F25] text-white font-bold flex items-center justify-center rounded-full flex-shrink-0"
                >
                  10
                </div>
                <h2 class="text-base ml-3 md:text-lg">
                  Apakah bayi tersenyum saat melihat mainan lucu, gambar, atau hewan peliharaan saat bermain sendiri?
                </h2>
              </div>
              <div class="flex space-x-4 mt-2 ml-[50px]">
                <label class="w-1/2">
                  <input
                    type="radio"
                    name="pertanyaan10"
                    value="tidak"
                    class="hidden peer"
                  />
                  <div
                    class="py-2 text-center rounded-2xl border-[1px] border-gray-400 cursor-pointer peer-checked:bg-[#0F3F25] peer-checked:border-none peer-checked:text-white"
                  >
                    Tidak
                  </div>
                </label>
                <label class="w-1/2">
                  <input
                    type="radio"
                    name="pertanyaan10"
                    value="ya"
                    class="hidden peer"
                  />
                  <div
                    class="py-2 text-center rounded-2xl border-[1px] border-gray-400 cursor-pointer peer-checked:bg-[#0F3F25] peer-checked:text-white"
                  >
                    Ya
                  </div>
                </label>
              </div>
            </div>

            <div class="border-b-2 border-[#FFC10E] pt-3"></div>
            <!-- begin::Button Tambah Pertumbuhan -->
            <div class="flex justify-end py-3">
              <div
                class="flex flex-col gap-y-3 w-full md:max-w-[325px] mt-1 place-items-end"
              >
                <button
                  onclick="showResult()"
                  class="flex flex-col w-full justify-center items-center text-center gap-x-2 bg-[#FFC10E] p-2.5 rounded-lg outline:none"
                >
                  <span
                    class="text-[#B05F00] font-semibold text-[17px] lg:text-[15px]"
                    >Lihat Hasil</span
                  >
                </button>
              </div>
            </div>
            <!-- end::Button Tambah Pertumbuhan -->
          </div>
          <!-- end::List Pertanyaan -->

          <!-- Begin::Hasil -->
          <div
            class="bg-white px-12 py-8 mt-6 rounded-xl shadow-lg w-full "
          >
            <div id="result"></div>
          </div>
          <!-- end::Hasil -->
        </div>
        <!-- end::Skrining Perkembangan -->

      </div>
    </div>
    <!-- Close Tag Content -->

    <!-- Open Tag Footer -->
    <footer class="w-full bg-[#0F3F25]">
      <div
        class="w-full max-w-[1280px] mx-auto px-4 md:px-8 lg:px-12 flex flex-col justify-between items-center py-4 lg:py-8 gap-y-8"
      >
        <div class="w-full flex flex-col gap-y-5">
          <div class="order-1">
            <img
              src="../assets/images/logo.png"
              alt="Langkah Maju Logo"
              class="w-40 md:w-44 lg:w-48"
            />
          </div>
          <div class="order-2 flex flex-col ml-1">
            <span class="text-sm lg:text-base text-white"
              >Langkah Maju hadir untuk memberikan pendampingan yang optimal
              dalam setiap fase pertumbuhan anak,
            </span>
            <span class="text-sm lg:text-base text-white"
              >sehingga anak dapat tumbuh dan berkembang secara optimal.</span
            >
          </div>
          <div
            class="order-4 lg:order-3 flex justify-start lg:justify-end items-center gap-x-6"
          >
            <a href="#">
              <img
                src="../assets/icons/facebook.png"
                alt="Facebook"
                class="w-[28px] lg:w-[35px]"
              />
            </a>
            <a href="#">
              <img
                src="../assets/icons/instagram.png"
                alt="Instagram"
                class="w-[28px] lg:w-[35px]"
              />
            </a>
            <a href="#">
              <img
                src="../assets/icons/youtube.png"
                alt="Youtube"
                class="w-[28px] lg:w-[35px]"
              />
            </a>
          </div>
        </div>

        <div class="w-full pt-4 border-t border-[#D1D9E2]">
          <span class="text-[12px] lg:text-sm text-white"
            >© Copyright 2023
          </span>
        </div>
      </div>
    </footer>
    <!-- Close Tag Footer -->

    <script>
      function showResult() {
        const totalQuestions = 10;
        let yesCount = 0;
        let stimulationList = "";
  
        for (let i = 1; i <= totalQuestions; i++) {
          const answer = document.querySelector(
            `input[name="pertanyaan${i}"]:checked`
          );
  
          if (answer && answer.value === "ya") {
            yesCount++;
          } else if (answer && answer.value === "tidak") {
            // Menambahkan stimulasi berdasarkan nomor pertanyaan
            let stimulation = "";
            let description = "";
            switch (i) {
              case 1:
                description = `Kemampuan mengikuti benda dengan kepalanya menunjukkan perkembangan Motorik Halus anak.`;
                stimulation =`
                  <li>Letakkan mainan berwarna cerah di atas bayi agar ia dapat tertarik pada mainan tersebut, kemudian pindahkan mainan dari satu sisi ke sisi lain secara perlahan.</li>
                  <li>Saat menggendong bayi, buat ekspresi wajah yang beragam dan gerakkan kepala Anda secara perlahan. Ini akan mendorong bayi untuk meniru gerakan Anda.</li>
                  <li>Cobalah memanggil nama bayi dari sisi yang berbeda dan lihat apakah bayi menggerakkan kepala untuk mencari sumber suara. Ini dapat membantu bayi belajar untuk menggerakkan kepala dalam rangka mencari benda atau suara.</li>
                `;
                break;
              case 2:
                description = `Kemampuan mempertahankan leher menunjukkan perkembangan Motorik Kasar anak.`;
                stimulation =`
                  <li>Tummy time (waktu terngkurap) secara rutin membantu memperkuat otot leher dan punggung bayi, yang penting untuk kontrol kepala. Lakukan tummy time beberapa kali sehari, dimulai dengan durasi yang singkat dan meningkatkannya seiring waktu.</li>
                  <li>Saat bayi berbaring telentang, pegang mainan di atas bayi dan dorong bayi untuk melihat ke atas dan menggerakkan kepala untuk melihat mainan tersebut. Ini membantu memperkuat otot leher.</li>
                `;
                break;
              case 3:
                description = `Kemampuan mengangkat dadanya dengan lengan ketika tengkurap menunjukkan perkembangan Motorik Kasar anak.`;
                stimulation =`
                  <li>Tingkatkan waktu tengkurap bayi secara bertahap. Letakkan bayi dalam posisi tengkurap selama beberapa menit setiap kali, beberapa kali sehari. Pastikan bayi berada di permukaan yang nyaman dan aman. Anda bisa meletakkan mainan di depan bayi untuk membuatnya tertarik mengangkat dada dan kepala.</li>
                  <li>Letakkan bantal kecil atau handuk yang digulung di bawah dada bayi saat tengkurap. Ini akan membantu bayi mendapatkan sedikit dukungan ekstra, memudahkan mereka mengangkat dada dengan bantuan lengan.</li>
                `;
                break;
              case 4:
                description = `Kemampuan menjaga kepalanya tetap stabil ketika dipangku menunjukkan perkembangan Motorik Kasar anak.`;
                stimulation =`
                  <li>Mulailah melatih bayi dalam posisi duduk dengan dukungan di kursi bayi atau pangkuan Anda. Lakukan ini selama beberapa menit setiap kali, meningkatkan waktu secara bertahap saat bayi semakin kuat.</li>
                  <li>Saat memangku bayi, pegang bayi dalam posisi tegak dan beri sedikit dukungan pada leher jika diperlukan. Dorong bayi untuk melihat sekeliling, yang akan merangsang mereka untuk menjaga kepala tetap tegak.</li>
                  <li>Saat bayi duduk dipangku, gunakan mainan untuk menarik perhatian mereka dan dorong bayi untuk mengikuti gerakan mainan dengan kepala. Ini akan membantu memperkuat otot leher dan meningkatkan stabilitas kepala.</li>
                `;
                break;
              case 5:
                description = `Kemampuan memegang pensil menunjukkan perkembangan Motorik Halus anak.`;
                stimulation =`
                  <li>Buat suara-suara yang menyenangkan dan lucu atau mengubah ekspresi wajah Anda menjadi lucu dan berlebihan.</li>
                  <li>Gunakan mainan yang mengeluarkan suara atau memiliki tekstur yang menarik saat digenggam. Ini dapat memotivasi bayi untuk menggenggam lebih lama.</li>
                `;
                break;
              case 6:
                description = `Kemampuan untuk mengarahkan mata ke benda kecil menunjukkan perkembangan Motorik Halus anak.`;
                stimulation =`
                  <li>Letakkan mainan berwarna cerah di atas bayi agar ia dapat tertarik pada mainan tersebut, kemudian pindahkan mainan dari satu sisi ke sisi lain secara perlahan.</li>
                  <li>Gunakan mainan kecil yang menarik perhatian bayi, seperti manik-manik besar atau bola kecil. Biarkan bayi melihat dan meraih mainan ini untuk melatih keterampilan fokus dan koordinasi mata-tangan.</li>
                  <li>Ajak bayi melihat cermin sambil Anda menggerakkan benda kecil di depan cermin. Bayi sering kali tertarik dengan gerakan dan refleksi, yang dapat membantu mereka fokus pada benda kecil.</li>
                `;
                break;
              case 7:
                description = `Kemampuan menraih mainan menunjukkan perkembangan Motorik Halus anak.`;
                stimulation =`
                  <li>Letakkan mainan yang menarik sedikit di luar jangkauan bayi saat dipangku. Dorong bayi untuk mencoba meraih mainan tersebut. Mulailah dengan meletakkan mainan pada jarak yang mudah.</li>
                  <li>Gunakan mainan yang dapat bergerak perlahan (seperti mainan roda) di depan bayi. Saat mainan bergerak, bayi akan terdorong untuk mengikuti dan mencoba meraihnya.</li>
                `;
                break;
              case 8:
                description = `Kemampuan berbalik dari telentang ke tengkurap menunjukkan perkembangan Motorik Kasar anak.`;
                stimulation =`
                  <li>Seringlah meletakkan bayi dalam posisi tengkurap dan telentang. Gunakan mainan menarik untuk memotivasi bayi berusaha berbalik. Letakkan mainan di samping atau di atas untuk menarik perhatian mereka.</li>
                  <li>Saat bayi dalam posisi telentang, bantu bayi berbalik dengan lembut. Pegang pinggang bayi dan dorong perlahan ke arah yang diinginkan. Ini dapat membantu bayi memahami gerakan yang diperlukan untuk berbalik.</li>
                `;
                break;
              case 9:
                description = `Kemampuan mengeluarkan suara gembira dengan nada tinggi hingga membentuk sudut 45° menunjukkan perkembangan Motorik Kasar anak.`;
                stimulation =`
                  <li>Seringlah berbicara dan bernyanyi dengan nada ceria dan tinggi. Gunakan intonasi yang beragam untuk menarik perhatian bayi dan mendorong mereka untuk meniru suara.</li>
                  <li>Buat suara lucu dan variasikan nada suara Anda. Tanggapi setiap suara yang dikeluarkan bayi dengan antusiasme, mendorong mereka untuk bereksperimen lebih banyak dengan suara.</li>
                `;
                break;
              case 10:
                description = `Kemampuan tersenyum ketika bermain sendiri menunjukkan perkembangan Motorik Kasar anak.`;
                stimulation =`
                  <li>Letakkan mainan yang cerah dan lucu di dekat bayi saat bermain sendiri. Pastikan mainan tersebut memiliki tekstur atau suara menarik.</li>
                  <li>Bacakan buku bergambar atau tunjukkan gambar yang menarik. Ekspresikan kegembiraan saat menunjuk gambar untuk mendorong bayi tersenyum.</li>
                  <li>Jika ada hewan peliharaan, biarkan bayi melihat atau mendengarnya. Pastikan interaksi ini aman dan menyenangkan, sehingga bayi merasa terhibur dan cenderung tersenyum.</li>
                `;
                break;
            }
            stimulationList += `
            <div class="gap-y-2">
              <li class="font-semibold pt-3 ml-1">${description}</li>
              <ul class="list-disc ml-6">
                ${stimulation}
              </ul>
            </div>
              `;
          }
        }
  
        let resultCard = "";
        if (yesCount >= 9) {
          resultCard = `
          <div class="bg-green-500 px-6 py-4 rounded-xl shadow-lg w-full text-white">
            <h2 class="text-lg font-bold">Hasil Evaluasi</h2>
            <p class="mt-2">Perkembangan anak sesuai dengan tahap usianya. Pertahankan stimulasi yang sudah dilakukan untuk terus mendukung tumbuh kembang anak.</p>
          </div>
        `;
        } else if (yesCount >= 7) {
          resultCard = `
          <div class="bg-yellow-500 px-6 py-4 rounded-xl shadow-lg w-full text-white">
            <h2 class="text-lg font-bold">Hasil Evaluasi</h2>
            <p class="mt-2">Perkembangan anak meragukan. Perhatikan lebih lanjut perkembangan anak dan berikan stimulasi tambahan sesuai anjuran. 
              Lakukan Skrining Perkembangan ulang setelah 2 minggu untuk melihat apakah terdapat kemajuan dalam perkembangan anak.</p>
          </div>
        `;
        } else {
          resultCard = `
          <div class="bg-red-500 px-6 py-4 rounded-xl shadow-lg w-full text-white">
            <h2 class="text-lg font-bold">Hasil Evaluasi</h2>
            <p class="mt-2">Terdapat kemungkinan penyimpangan dalam perkembangan anak. Lakukan Skrining Perkembangan ulang setelah 2 minggu untuk melihat apakah terdapat
              kemajuan dalam perkembangan anak. Apabila masih belum ada kemajuan dalam perkembangan anak, disarankan untuk berkonsultasi dengan profesional, 
              dan dapat melakukan pemeriksaan kesehatan untuk mencari kemungkinan adanya penyakit yang menyebabkan penyimpangan perkembangannya dan lakukan pengobatan.</p>
          </div>
        `;
        }
  
        if (stimulationList) {
          resultCard += `
          <div class="w-full mt-5">
            <h2 class="text-lg font-bold">Stimulasi yang bisa dilakukan untuk meningkatkan perkembangan anak</h2>
            <ol class="list-decimal ml-3 mt-1">
              ${stimulationList}
            </ol>
            <h2 class="text-lg font-bold mt-5">Informasi Tambahan (Perlu Diingat)</h2>
            <ul class="list-disc ml-3 mt-1">
              <li>Lakukan stimulasi secara rutin dan konsisten untuk hasil yang maksimal.</li>
              <li>Pastikan lingkungan sekitar bayi aman saat melakukan stimulasi.</li>
              <li>Perhatikan apa yang bayi suka dan tidak suka sehingga Anda akan memahami kebutuhannya dan apa yang dapat Anda lakukan untuk membuat ia senang.</li>
              <li>Setiap bayi unik dan memiliki kecepatan perkembangan yang berbeda. Yang terpenting adalah Anda memberikan kasih sayang dan stimulasi yang tepat untuk mendukung pertumbuhan dan perkembangannya.</li>
              <li>Anda dapat memberikan rasa aman dan nyaman kepada bayi melalui pelukan, belaian, ayunan,
                serta ajak bayi bicara dan bermain saat menyusui, berpakaian, mandi, di tempat tidur, ketika
                Anda sedang mengerjakan pekerjaan rumah tangga dan sebagainya dengan menggunakan
                bahasa ibu sesering mungkin. Ajak bayi bicara dengan nada lembut dan halus serta penuh kasih sayang.</li>
              <li>Mulailah membentuk rutinitas, seperti tidur lebih banyak di malam hari daripada di siang hari dan buat jadwal yang teratur. Ketika menidurkan bayi, bersenandunglah dengan nada lembut dan
                penuh kasih sayang, ayun perlahan bayi Anda sampai tertidur. Pada saat tidur malam, buat suasana ruangan nyaman, lampu redup, dan tidak bising. 
                Jangan ada TV dan komputer dalam kamar tidur karena mengganggu tidur anak.</li>
              <li>Jika bayi Anda sudah berusia 8 bulan ke atas dan belum menunjukkan tanda-tanda perkembangan dalam hal ini, sebaiknya konsultasikan dengan dokter anak. Dokter akan melakukan pemeriksaan untuk memastikan tidak ada masalah kesehatan yang mendasarinya.</li>
            </ul>
          </div>
        `;
        }
  
        document.getElementById("result").innerHTML = resultCard;
      }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
